<app-header></app-header>

<!-- <main>
  <div>
    <app-user></app-user>
  </div>
</main> -->
<main>
  <ul id="users">
    <li>
      <app-user [user]="user[0]" (select)="onselect($event)" />
    </li>
    <li>
      <app-user [user]="user[1]" (select)="onselect($event)" />
    </li>
    <li>
      <app-user [user]="user[02]" (select)="onselect($event)" />
    </li>
    <li>
      <app-user [user]="user[03]" (select)="onselect($event)" />
    </li>
    <li>
      <app-user [user]="user[04]" (select)="onselect($event)" />
    </li>
  </ul>
  <app-tasks [tName]="getName"> </app-tasks>
</main>
